body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-nunito: Nunito;
  --font-mulish: Mulish;
  --font-lato: Lato;
  --font-inter: Inter;
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-nunito-sans: "Nunito Sans";
  --font-numans: Numans;
  --font-roboto: Roboto;
  --body-paragraph-s-medium: Poppins;

  /* font sizes */
  --font-size-lgi: 19px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-45xl: 64px;
  --font-size-7xl: 26px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-21xl: 40px;
  --font-size-41xl: 60px;
  --font-size-29xl: 48px;
  --font-size-9xl: 28px;
  --font-size-19xl: 38px;
  --font-size-mini: 15px;
  --body-paragraph-s-medium-size: 14px;
  --body-caption-s-regular-size: 12px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-300: #707070;
  --neutral-500: #6b6b6b;
  --color-dimgray-200: #626262;
  --text-400: #5c5f66;
  --color-dimgray-400: #5e5e5e;
  --color-black: #000;
  --color-gainsboro-200: #e6e6e6;
  --color-gainsboro-100: #d9d9d9;
  --color-darkslategray-100: #276561;
  --color-darkslategray-200: #404040;
  --color-darkslategray-300: rgba(39, 101, 97, 0.3);
  --neutral-50: #fdfdfd;
  --color-gray-100: #757575;
  --color-gray-500: #202224;
  --text-900: #101113;
  --neutral-900: #040f0f;
  --color-gray-200: #000022;
  --border: rgba(0, 0, 0, 0.2);
  --color-gray-700: rgba(255, 255, 255, 0.8);
  --color-gray-600: rgba(32, 34, 36, 0.7);
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --color-gray-300: rgba(255, 255, 255, 0.5);
  --color-silver-100: #c8c8c8;
  --color-silver-200: #bfbfbf;
  --color-cadetblue-200: #569490;
  --color-cadetblue-100: #4d8c87;
  --color-lightsteelblue: #aab2c8;
  --color-deepskyblue: #269de0;
  --color-powderblue: #b4e0dd;
  --color-paleturquoise: #9dd4c4;
  --color-darkgray-100: #98b9b7;
  --neutral-300: #d6d6d6;
  --primary-blue-50: #ebfbfe;
  --primary-blue-700: #0b87ac;

  /* Gaps */
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-8xl: 27px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-smi-6: 12.6px;
  --gap-7xs-8: 5.8px;
  --gap-base-8: 16.8px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-xl: 20px;
  --gap-3xl: 22px;
  --gap-7xs: 6px;
  --gap-16xl: 35px;
  --gap-smi-8: 12.8px;
  --gap-2xl: 21px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-4xs: 9px;
  --gap-4xl: 23px;
  --gap-10xl: 29px;
  --gap-7xl: 26px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-55xl: 74px;
  --gap-lg: 18px;
  --gap-18xl: 37px;
  --gap-34xl: 53px;
  --gap-23xl: 42px;
  --gap-112xl: 131px;
  --gap-14xl: 33px;
  --gap-46xl: 65px;
  --gap-35xl: 54px;
  --gap-6xs: 7px;
  --gap-3xs: 10px;
  --gap-17xl: 36px;
  --gap-25xl: 44px;
  --gap-45xl-5: 64.5px;
  --gap-40xl-5: 59.5px;
  --gap-118xl-5: 137.5px;
  --gap-56xl: 75px;
  --gap-11xs-4: 1.4px;
  --gap-sm-9: 13.9px;
  --gap-xs: 12px;
  --gap-2xs: 11px;
  --gap-20xl: 39px;
  --gap-14xl-9: 33.9px;
  --gap-5xs: 8px;
  --gap-44xl: 63px;
  --gap-21xl: 40px;
  --gap-9xs-5: 3.5px;
  --gap-12xs: 1px;
  --gap-2xs-9: 10.9px;
  --gap-11xs-8: 1.8px;
  --gap-sm-8: 13.8px;
  --gap-12xs-9: 0.9px;
  --gap-12xl: 31px;
  --gap-11xs-9: 1.9px;
  --gap-47xl-3: 66.3px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-2xs: 11px;
  --padding-136xl: 155px;
  --padding-292xl: 311px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-3xl: 22px;
  --padding-4xs: 9px;
  --padding-24xl: 43px;
  --padding-2xl: 21px;
  --padding-11xl: 30px;
  --padding-mini: 15px;
  --padding-37xl: 56px;
  --padding-8xs: 5px;
  --padding-18xl: 37px;
  --padding-12xs: 1px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-xs-4: 11.4px;
  --padding-11xs-1: 1.1px;
  --padding-xs-5: 11.5px;
  --padding-xs-1: 11.1px;
  --padding-lgi-9: 19.9px;
  --padding-10xs-5: 2.5px;
  --padding-smi: 13px;
  --padding-xl-2: 20.2px;
  --padding-4xl: 23px;
  --padding-lg: 18px;
  --padding-12xl: 31px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-7xl: 26px;
  --padding-3xs-5: 9.5px;
  --padding-7xs: 6px;
  --padding-54xl: 73px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-17xl: 36px;
  --padding-140xl-4: 159.4px;
  --padding-10xs: 3px;
  --padding-3xs: 10px;
  --padding-42xl: 61px;
  --padding-14xl: 33px;
  --padding-525xl: 544px;
  --padding-2xs-4: 10.4px;
  --padding-9xl: 28px;
  --padding-19xl: 38px;
  --padding-27xl: 46px;
  --padding-8xs-7: 4.7px;
  --padding-6xl: 25px;
  --padding-34xl: 53px;
  --padding-lgi: 19px;
  --padding-190xl: 209px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-291xl: 310px;
  --padding-6xs: 7px;
  --padding-32xl: 51px;
  --padding-79xl: 98px;
  --padding-105xl: 124px;
  --padding-94xl: 113px;
  --padding-28xl: 47px;
  --padding-62xl: 81px;
  --padding-84xl: 103px;
  --padding-50xl: 69px;
  --padding-16xl: 35px;
  --padding-31xl: 50px;
  --padding-38xl: 57px;
  --padding-40xl: 59px;
  --padding-9xs: 4px;
  --padding-263xl: 282px;
  --padding-22xl: 41px;
  --padding-781xl: 800px;
  --padding-33xl: 52px;
  --padding-10xl: 29px;
  --padding-516xl: 535px;
  --padding-248xl: 267px;
  --padding-187xl-9: 206.9px;
  --padding-smi-6: 12.6px;
  --padding-4xs-3: 8.3px;
  --padding-36xl: 55px;
  --padding-48xl: 67px;
  --padding-25xl: 44px;
  --padding-base-3: 15.3px;
  --padding-2xs-5: 10.5px;
  --padding-96xl: 115px;
  --padding-49xl: 68px;
  --padding-8xl: 27px;
  --padding-8xs-2: 4.2px;
  --padding-481xl: 500px;
  --padding-231xl: 250px;
  --padding-15xl: 34px;
  --padding-46xl: 65px;
  --padding-23xl: 42px;
  --padding-13xl: 32px;
  --padding-121xl: 140px;
  --padding-2xs-1: 10.1px;
  --padding-sm-9: 13.9px;
  --padding-7xs-8: 5.8px;
  --padding-11xs-3: 1.3px;
  --padding-3xs-7: 9.7px;
  --padding-10xs-3: 2.3px;
  --padding-35xl: 54px;
  --padding-400xl: 419px;
  --padding-100xl: 119px;
  --padding-smi-9: 12.9px;
  --padding-255xl: 274px;
  --padding-102xl: 121px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-base: 16px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-139xl: 158px;
  --br-xs: 12px;
  --br-sm: 14px;
  --br-11xs: 2px;
  --br-mini-7: 14.7px;
  --br-29xl: 48px;
  --br-181xl: 200px;
}
