.menu-child {
  height: 100px;
  width: 1861px;
  position: relative;
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
}
.beranda3,
.logo-icon4 {
  position: relative;
  z-index: 1;
}
.logo-icon4 {
  margin-left: -503.7999999999999px;
  height: 92px;
  width: 153.7px;
  border-radius: var(--br-base);
  object-fit: contain;
  flex-shrink: 0;
}
.beranda3 {
  text-decoration: none;
  align-self: stretch;
  font-weight: 700;
  color: inherit;
  cursor: pointer;
}
.home-button {
  width: 148.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.tentang-kami5 {
  text-decoration: none;
  width: 173.3px;
  position: relative;
  line-height: 29.3px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.about-button {
  width: 216.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.fitur4 {
  text-decoration: none;
  width: 87.2px;
  position: relative;
  line-height: 29.3px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.fitur-container {
  width: 130.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.profile-child3 {
  height: 54.5px;
  width: 108.1px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.coin-icon {
  height: 33px;
  width: 58px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.profile-icon,
.profile5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile5 {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-6xl) var(--padding-2xs-5);
  z-index: 1;
}
.profile-icon {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.profile-label-child {
  height: 54.5px;
  width: 110.1px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.profil2 {
  text-decoration: none;
  width: 80.5px;
  position: relative;
  line-height: 28.2px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.profile-label {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  justify-content: flex-end;
  padding: var(--padding-2xs) var(--padding-10xs) var(--padding-base-3);
  z-index: 1;
}
.home-button-parent,
.profile-icon-parent,
.profile-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.profile-icon-parent {
  width: 252.1px;
  justify-content: flex-start;
  gap: var(--gap-14xl-9);
  color: var(--color-black);
}
.home-button-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.menu,
.menu-inner {
  width: 1184.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.menu {
  width: 1861px;
  background-color: var(--color-darkslategray-100);
  flex-direction: row;
  padding: var(--padding-5xs) 173px 0 503px;
  gap: 350.1px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 108%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
  font-family: var(--font-nunito);
}
.poin-saya {
  margin: 0;
  width: 265px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
}
.header-child {
  height: 413px;
  width: 1534px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
}
.halo {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.saldo-child {
  width: 363.4px;
  height: 170.9px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.fluentwallet-24-filled-icon {
  height: 49.1px;
  width: 34.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.poin-anda {
  align-self: stretch;
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.fluentwallet-24-filled-parent,
.poin-anda-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.poin-anda-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs-5) 0 0;
}
.fluentwallet-24-filled-parent {
  width: 196.5px;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.poin8 {
  height: 51.7px;
  flex: 1;
  position: relative;
  font-weight: 800;
  display: inline-block;
  z-index: 1;
}
.poin-container,
.saldo {
  justify-content: flex-start;
  box-sizing: border-box;
}
.poin-container {
  width: 227.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xs);
  font-size: var(--font-size-13xl);
}
.saldo {
  width: 363.4px;
  height: 170.9px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  padding: 7.1px var(--padding-2xs) var(--padding-6xs);
  gap: 6.2px;
  z-index: 1;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.halo-parent,
.header-inner,
.saldo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.halo-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-20xl);
}
.header-inner {
  width: 400.2px;
  justify-content: flex-end;
  padding: 0 0 14.1px;
  box-sizing: border-box;
  min-width: 400.2000000000001px;
}
.medal-1 {
  height: 41.5px;
  width: 17.2px;
  position: relative;
  display: none;
}
.tukar-poin-anda {
  margin: 0;
  align-self: stretch;
  height: 190px;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child9 {
  height: 53px;
  width: 322px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.etalase-barang2 {
  width: 277px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 4;
}
.frame-wrapper5,
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent4 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  padding: var(--padding-8xs) 0 var(--padding-9xs);
  white-space: nowrap;
  z-index: 3;
}
.frame-wrapper5 {
  width: 376.1px;
  padding: 0 var(--padding-8xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-100);
}
.tukar-poin-anda-dengan-barang-parent {
  width: 662.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 662.1px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.balance-info,
.header1 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.header1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-36xl) var(--padding-4xl) 67px var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-height: 90%;
  overflow: auto;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.balance-info {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.frame-child10 {
  height: 46px;
  width: 1970px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 23px);
  right: -818px;
}
.copyright-sampun-group2 {
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}
.balance,
.balance-inner,
.vector-parent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.vector-parent2 {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.balance,
.balance-inner {
  text-align: left;
}
.balance-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-mulish);
}
.balance {
  width: 1534px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 396px;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-nunito);
}
.balance-wrapper,
.tukar-poin1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.balance-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  max-width: 100%;
}
.tukar-poin1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-28xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .home-button-parent {
    display: none;
  }
  .menu-inner {
    width: 0;
  }
  .menu {
    gap: 175px;
    padding-left: var(--padding-232xl);
    padding-right: 86px;
    box-sizing: border-box;
  }
  .header-inner,
  .tukar-poin-anda-dengan-barang-parent {
    flex: 1;
  }
  .header1 {
    flex-wrap: wrap;
  }
  .balance {
    gap: 198px;
  }
}
@media screen and (max-width: 1125px) {
  .tukar-poin-anda-dengan-barang-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .menu {
    gap: 88px;
    padding-left: 125px;
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }
  .poin-saya {
    font-size: var(--font-size-10xl);
  }
  .halo,
  .poin8 {
    font-size: var(--font-size-7xl);
  }
  .header-inner {
    min-width: 100%;
  }
  .tukar-poin-anda-dengan-barang-parent {
    gap: var(--gap-5xl);
  }
  .balance {
    gap: 99px;
  }
  .tukar-poin1 {
    gap: var(--gap-4xl);
  }
}
@media screen and (max-width: 450px) {
  .profile-icon-parent {
    gap: var(--gap-mid);
  }
  .menu {
    gap: var(--gap-25xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .poin-saya {
    font-size: var(--font-size-3xl);
  }
  .halo {
    font-size: var(--font-size-lgi);
  }
  .poin-anda {
    font-size: var(--font-size-base);
  }
  .poin8 {
    font-size: var(--font-size-lgi);
  }
  .halo-parent {
    gap: var(--gap-lgi);
  }
  .tukar-poin-anda {
    font-size: var(--font-size-lgi);
  }
  .header1 {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-25xl);
    box-sizing: border-box;
  }
  .copyright-sampun-group2 {
    font-size: var(--font-size-lgi);
  }
  .balance {
    gap: var(--gap-30xl);
  }
}
